---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Biblioteca">
    <main>
        <h1>Se incio Sesion</h1>
    </main>
</Layout>

<style>
    main {
        background: #f6f5f7;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: -20px 0 50px;
    }
</style>
