---
import Layout from "../../layouts/Layout.astro";
import { storeUser } from "../../store/user.store";

const {isAuth} = storeUser.getState()

if(!isAuth) return Astro.redirect("/login");

---

<Layout title="Biblioteca">
    <main>
        <h1>Se incio Sesion</h1>
    </main>
</Layout>

<style>
    main {
        background: #6c27b1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: -20px 0 50px;
    }
</style>
