---

---

<header class="header">
    <nav class="nav">
        <a href="/" class="nav_logo">UCV</a>

        <ul class="nav_item">
            <li class="nav_item">
                <a href="#" class="nav_link">Inicio</a>
                <a href="Informacion.html" class="nav_link">Información</a>
                <a href="Servicio.html" class="nav_link">Servicios</a>
                <a href="Biblioteca.html" class="nav_link">Biblioteca</a>
                <a href="Reporte.html" class="nav_link">Reporte</a>
            </li>
        </ul>

        <a class="button" href="/login">Iniciar Sesión</a>
    </nav>
</header>
