---
import { storeUser } from "../store/user.store";

const { isAuth, user } = storeUser.getState();
---

<header class="header">
    <nav class="nav">
        <a href="/" class="nav_logo">UCV</a>

        <ul class="nav_item">
            <li class="nav_item">
                <a href="http://localhost:4321/#" class="nav_link">Inicio</a>
                <a href="http://localhost:4321/Informacion" class="nav_link"
                    >Información</a
                >
                <a href="http://localhost:4321/servicios" class="nav_link"
                    >Guia de accesos</a
                >
                <a href="http://localhost:4321/pastelito" class="nav_link"
                    >Foro</a
                >
                <a href="http://localhost:4321/reporte" class="nav_link"
                    >Reporte</a
                >
            </li>
        </ul>

        {isAuth && <h4 style="color:white;">{user.nombre}</h4>}
        {
            isAuth ? (
                <a class="button" href="/login/logout">
                    Cerrar Sesion
                </a>
            ) : (
                <a class="button" href="/login">
                    Iniciar Sesion
                </a>
            )
        }
    </nav>
</header>
