<header class="header">
    <nav class="nav">
        <a href="/" class="nav_logo">UCV</a>

        <ul class="nav_item">
            <li class="nav_item">
                <a href="http://localhost:4321/#" class="nav_link">Inicio</a>
                <a href="http://localhost:4321/Informacion" class="nav_link">Información</a>
                <a href="http://localhost:4321/servicios" class="nav_link">Guia de accesos</a>
                <a href="http://localhost:4321/pastelito" class="nav_link">Foro</a>
                <a href="http://localhost:4321/reporte" class="nav_link">Reporte</a>
            </li>
        </ul>
        
    </nav>
</header>
