---
import { storeUser } from "../store/user.store";

const { isAuth, user } = storeUser.getState();
---

<header class="header">
    <nav class="nav">
        <a href="/" class="nav_logo">UCV </a>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


        <ul class="nav_item">
            <li class="nav_item">
                <a href="http://localhost:4321/#" class="nav_link">Inicio</a>
                <a href="http://localhost:4321/Informacion" class="nav_link"
                    >Información</a
                >
                <a href="http://localhost:4321/servicios" class="nav_link"
                    >Guia de accesos</a
                >
                <a href="http://localhost:4321/pastelito" class="nav_link"
                    >Foro</a
                >
                <a href="http://localhost:4321/reporte" class="nav_link"
                    >Reporte</a
                >
            </li>
        </ul>

        {isAuth && <h4 style="color:white;">{user.nombre}</h4>}
        {
            isAuth ? (
            <a href="/login"  class="button login-button"> 
             <span><i class="fas fa-sign-out-alt"></i></span>
             <span><i class="fas fa-user"></i></span> 
                </a>
            ) : (
                
                <a href="/login"  class="button login-button"> 
                <span><i class="fas fa-sign-in-alt"></i></span> 
                <span><i class="fas fa-user"></i></span>
                </a>
           
                 
            )
        }
    </nav>
</header>
